In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
import re

In [20]:
# f = open('data.txt')
# f_write = open("text_data.txt", "w")
# for line in f:
#     text = re.sub('[^A-Za-z0-9]+',' ', line) + "\n"
#     f_write.write(text)
# f.close()
# f_write.close()

In [25]:
df = pd.read_csv('./text_data.txt',names=['text'])
df

                                                   text
0     my THIS PIECE 1S ABouT WE INADEQUACY OFTRADITI...
1      BY ABANDONING REPRESEN TATIONALISM TM FREE TO...
2     TL NOTICE YOUR fur 1s vEL cH Movoconowaric i s...
3     THERES THE STEGOSWIRUS OMT FRONT THERES THE NA...
4             WL SUSIE WHAT 00 YOOWAVE FOR LUNCH TODAY
...                                                 ...
5472  I THINKGENIUSES SHOULDBE GINENSPECIALCONSIDERA...
5473                                   AMIN BasedUO Ro
5474  wes You DIONDp AVERY GO 308 THEN ITLOOKS AS HE...
5475  You SHOND TAKEPRIDE IN RAATou Ob AN ALWINS 7Oo...
5476  1 DONT NEED TO DOABETTER 908 I NEED GETTEPR ON...

[5477 rows x 1 columns]

In [27]:
train_test_ratio = 0.9
train_valid_ratio = 7/9
df_full_train, df_test = train_test_split(df, train_size = train_test_ratio, random_state = 1)
df_train, df_valid = train_test_split(df_full_train, train_size = train_valid_ratio, random_state = 1)

In [28]:
def build_dataset(df, dest_path):
    f = open(dest_path, 'w')
    data = ''
    texts = df['text'].tolist()
    for text in texts:
        text = str(text).strip()
        text = re.sub(r"\s", " ", text)
        bos_token = '<BOS>'
        eos_token = '<EOS>'
        data += bos_token + ' ' + text + ' ' + eos_token + '\n'
        
    f.write(data)

In [29]:
build_dataset(df_train, 'train.txt')
build_dataset(df_valid, 'valid.txt')
build_dataset(df_test, 'test.txt')